<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="browserName" value="Firefox"/>
<parameter name="url" value="https://www.demoblaze.com/index.html"/>
<parameter name="firstSleepTime" value="1000"/>
<parameter name="secondSleepTime" value="500"/>

 <test name="Test">
  <groups>
  	<dependencies>
  		<group name="signup" depends-on="smoke"/>
  		<group name="login" depends-on="signup"/>
  		<group name="cart" depends-on="login"/>
  	</dependencies>
  </groups>
    <classes>
     <class name="com.ibm.test.HomePageTest"/>
      <class name="com.ibm.test.SignupPageTest"/>
       <class name="com.ibm.test.LoginTest"/>
       <class name="com.ibm.test.CartPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
